#sudoku-board {
    border: 3px solid black;
    aspect-ratio: 1/1;
    height: max(70vh, 400px);
    margin: auto;
    display: grid;
    grid-template-rows: repeat(9, 1fr);
    font-size: 36px;
}

.row {
    display: grid;
    grid-template-columns: repeat(9, 1fr);

}

.cell {
    border: 1px solid grey;
    display: flex;
    justify-content: center;
    align-items: center;

}

.row:nth-child(3n):not(:last-child) {
    border-bottom: black solid 3px;
}

.cell:nth-child(3n):not(:last-child) {
    border-right: black solid 3px;
}

#title {
    text-align: center;
    margin: 2vh;
    font-size: max(5vh, 32px);
    font-weight: bold;
}

#controls {
    display: flex;
    justify-content: center;
    margin: 2vh;
}

#controls>button {
    margin: 6px;
    font-size: larger;
}


.cell:hover,
button:hover {
    cursor: pointer;
}

.relatedCell {
    background-color: #e2ebf3;
}

.inputCell {
    background-color: aquamarine;
}

.active {
    background-color: #bbdefb;
}

#keypad {
    display: none;
    margin: 0 1vw;
    justify-content: center;
}

.k-row {
    margin-top: 2vh;
    display: flex;
    justify-content: center;
}

.k-num {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: lightblue;
    width: 50px;
    height: 50px;
    font-size: 36px;
    border: 1px solid black;
    border-radius: 5px;
    margin: 0 1vw;
}

.seconds,
.steps {
    text-decoration: underline;
    font-weight: bold;
}

@media only screen and (max-width: 810px) {
    #sudoku-board {
        width: 90vw;
        height: 90vw;
        margin: auto;
        display: grid;
        grid-template-rows: repeat(9, 1fr);
        font-size: 26px;
    }

    #keypad {
        display: flex;
    }

    #controls,
    #title {
        margin: 5px;
    }

    #title {
        font-size: 30px;
    }

}

@media only screen and (max-width: 500px) {
    #keypad {
        display: block;
    }
}

#stats {
    display: flex;
    justify-content: center;
    margin: 2vh;
}